<div ng-controller="GodMode.DocTypeBrowser.Controller" class="god-mode">

    <umb-editor-view footer="false">

        <godmode-header heading="Document Type Browser"></godmode-header>

        <umb-editor-container>

            <div id="collapse_selects" class="accordion-body collapse in">

                <div class="well">

                    <div class="row">
                        <div class="span4">
                            <label class="control-label" for="search-hasTemplate">Has Template?</label>
                            <br />
                            <select id="search-hasTemplate" ng-model="search.hasTemplate" ng-options="opt.label for opt in triStateOptions" class="input-large"></select>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="search-dataType">Uses DataType:</label>
                            <br />
                            <select id="search-dataType" ng-model="search.dataType" ng-options="item.Name for item in dataTypes" class="input-large">
                                <option value="">Any</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="search-propertyEditor">Uses Editor:</label>
                            <br />
                            <select id="search-propertyEditor" ng-model="search.propertyEditor" ng-options="item.Alias for item in propertyEditors" class="input-large">
                                <option value="">Any</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span4">
                            <label class="control-label" for="search-hasCompositions">Has Compositions?</label>
                            <br />
                            <select id="search-hasCompositions" ng-model="search.hasCompositions" ng-options="opt.label for opt in triStateOptions" class="input-large"></select>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="search-composedOf">Composed With:</label>
                            <br />
                            <select id="search-composedOf" ng-model="search.composedOf" ng-options="item.Name for item in compositions" class="input-large">
                                <option value="">Any</option>
                            </select>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="search-propertyGroup">Has Tab:</label>
                            <br />
                            <select id="search-propertyGroup" ng-model="search.propertyGroup" ng-options="group for group in propertyGroups" class="input-large">
                                <option value="">Any</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>


            <div class="well">
                <div class="row">
                    <div class="span4">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-item-arrangement"></i></span>
                            <input type="search" ng-model="search.doctype" placeholder="Filter document types" class="input-large">
                        </div>
                    </div>
                    <div class="span4">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-newspaper-alt"></i></span>
                            <input type="search" ng-model="search.template" placeholder="Filter templates">
                        </div>
                    </div>
                    <div class="span4">
                        <div class="input-prepend input-append">
                            <span class="add-on"><i class="icon-autofill"></i></span>
                            <input type="search" ng-model="search.property" placeholder="Filter properties">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li style="padding:5px">
                                        <p><strong>Include inherited?</strong></p>
                                        <label><input type="radio" ng-model="search.includeInherited" value="true" /> Yes</label>
                                        <br />
                                        <label><input type="radio" ng-model="search.includeInherited" value="false" /> No</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <umb-load-indicator ng-show="isLoading"></umb-load-indicator>

            <div class="accordion" id="accordion_{{ct.Id}}" ng-repeat="ct in contentTypes | filter: filterContentTypes">

                <div class="accordion-group">

                    <div class="accordion-heading">
                        <div class="row">
                            <div class="span10">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ct.Id}}" href="#collapse_{{ct.Id}}"><strong><i class="{{ ct.Icon }}"></i>&nbsp;{{ ct.Name }}</strong> <small>({{ ct.Alias }})</small></a>
                            </div>
                            <div class="span2 text-right">
                                <a class="accordion-toggle" href="{{config.editDocTypeUrl + ct.Id}}" title="Edit {{ ct.Name }} doctype" target="_blank"><span class="btn btn-default"><i class="icon icon-edit"></i> Edit</span></a>
                            </div>
                        </div>
                    </div>

                    <div id="collapse_{{ct.Id}}" class="accordion-body collapse out">
                        <div class="accordion-inner">

                            <p class="text-center description">{{ ct.Description }}</p>

                            <table class="table" ng-show="ct.Templates">
                                <caption><h5>Templates</h5></caption>
                                <thead>
                                    <tr>
                                        <th width="34%">Name</th>
                                        <th width="33%">Alias</th>
                                        <th width="33%">Filename</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tmp in ct.Templates">
                                        <td><a href="{{config.editTemplateUrl + tmp.Id}}" target="_blank" title="Edit Template"><i class="icon icon-edit"></i> {{ tmp.Name }}</a></td>
                                        <td>{{ tmp.Alias }}</td>
                                        <td>{{ tmp.Path }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table" ng-show="ct.Properties">
                                <caption><h5>Native Properties</h5></caption>
                                <thead>
                                    <tr>
                                        <th width="34%">Name</th>
                                        <th width="33%">Alias</th>
                                        <th width="33%">Editor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="prop in ct.Properties">
                                        <td title="{{ prop.Description }}">{{ prop.Name }}</td>
                                        <td>{{ prop.Alias }}</td>
                                        <td><a href="{{config.editDataTypeUrl + prop.EditorId}}" target="_blank" title="Edit"><i class="icon icon-edit"></i> {{ prop.EditorAlias }}</a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table" ng-show="ct.CompositionProperties">
                                <caption><h5>Inherited Properties</h5></caption>
                                <thead>
                                    <tr>
                                        <th width="34%">Name</th>
                                        <th width="33%">Alias</th>
                                        <th width="33%">Editor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="prop in ct.CompositionProperties">
                                        <td title="{{ prop.Description }}">{{ prop.Name }}</td>
                                        <td>{{ prop.Alias }}</td>
                                        <td><a href="{{config.editDataTypeUrl + prop.EditorId}}" target="_blank" title="Edit"><i class="icon icon-edit"></i> {{ prop.EditorAlias }}</a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table" ng-show="ct.Compositions.length">
                                <caption><h5>Composed Of</h5></caption>
                                <thead>
                                    <tr>
                                        <th width="34%">Name</th>
                                        <th width="33%">Alias</th>
                                        <th width="33%">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="comp in ct.Compositions">
                                        <td><i class="{{ comp.Icon }}"></i><a href="{{config.editDocTypeUrl + comp.Id}}" title="Edit Composition" target="_blank"><i class="icon icon-edit"></i>{{ comp.Name }}</a></td>
                                        <td>{{ comp.Alias }}</td>
                                        <td><small>{{ comp.Description }}</small></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>

        </umb-editor-container>

    </umb-editor-view>

</div>
