<div ng-controller="GodMode.MediaBrowser.Controller" class="god-mode">

    <umb-editor-view footer="false">

        <godmode-header heading="Media Browser"></godmode-header>

        <umb-editor-container>

            <div id="collapse_selects" class="accordion-body collapse in">
                <div class="well">
                    <div class="row">

                        <div class="span2">
                            <label class="control-label" for="search-id">Id:</label>
                            <br />
                            <input type="search" id="search-id" ng-model="search.id" placeholder="Filter by id" class="input-small">
                        </div>

                        <div class="span4">
                            <label class="control-label" for="search-name">Search:</label>
                            <br />
                            <input type="search" id="search-name" ng-model="search.name" placeholder="Filter media names" class="input-large">
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-mediaType">Media Type:</label>
                            <br />
                            <select ng-model="search.mediaType" id="search-mediaType" ng-options="item.Alias for item in media | godModeUnique: 'Alias'" class="input-medium">
                                <option value="">Any</option>
                            </select>
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-fileType">File Type:</label>
                            <br />
                            <select ng-model="search.fileType" id="search-fileType" ng-options="item.Type for item in media | godModeUnique: 'Type'" class="input-medium">
                                <option value="">Any</option>
                            </select>
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-fileSize">File Size:</label>
                            <br />
                            <select ng-model="search.fileSize" id="search-fileSize" ng-options="item.title for item in fileSizes" class="input-medium">
                                <option value="">Any</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <umb-load-indicator ng-show="isLoading"></umb-load-indicator>

            <table class="table">
                <thead>
                    <tr>
                        <th><godmode-sortable sort-by="sortBy('Id')" column="Id" sort="sort">Media</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('Name')" column="Name" sort="sort">Name</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('Alias')" column="Alias" sort="sort">Media</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('Type')" column="Type" sort="sort">Type</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('Size')" column="Size" sort="sort">Size</godmode-sortable></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in media | filter: filterMedia | orderBy: sort.column : sort.reverse">
                        <td>{{ m.Id }}</td>
                        <td><a href="{{config.editMediaUrl + m.Id}}" target="_blank" title="Edit"><i class="icon icon-edit"></i>&nbsp;{{ m.Name }}</a></td>
                        <td>{{ m.Alias }}</td>
                        <td title="{{ m.Ext }}">{{ m.Type }}</td>
                        <td>{{ m.Size | godModeFileSize }}</td>
                    </tr>
                </tbody>
            </table>

        </umb-editor-container>

    </umb-editor-view>

</div>