<div ng-controller="GodMode.ContentBrowser.Controller" class="god-mode">

    <umb-editor-view footer="false">

        <godmode-header heading="Content Browser" title="Because content is king"></godmode-header>

        <umb-editor-container>

            <div id="collapse_selects" class="accordion-body collapse in">
                <div class="well">
                    <div class="row">

                        <div class="span2">
                            <label class="control-label" for="search-id">Node Id:</label>
                            <br />
                            <input type="number" id="search-id" ng-model="criteria.Id" placeholder="Id" class="input-mini" ng-change="filterChange()">
                        </div>

                        <div class="span3">
                            <label class="control-label" for="search-name">Name:</label>
                            <br />
                            <input type="search" id="search-name" ng-model="criteria.Name" placeholder="Search node names" class="input-medium" ng-change="filterChange()">
                        </div>

                        <div class="span3">
                            <label class="control-label" for="search-alias">Content Alias:</label>
                            <br />
                            <select id="search-alias" ng-model="criteria.Alias" ng-options="item for item in contentTypeAliases" class="input-medium" ng-change="filterChange()">
                                <option value="">Any</option>
                            </select>
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-level">Tree Level:</label>
                            <br />
                            <input type="number" id="search-level" ng-model="criteria.Level" placeholder="Level" class="input-mini" ng-change="filterChange()">
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-recycled">Recycled?</label>
                            <br />
                            <select id="search-recycled" ng-model="criteria.Trashed" ng-options="opt.label for opt in triStateOptions" class="input-small" ng-change="filterChange()"></select>
                        </div>

                    </div>
                </div>
            </div>

            <umb-load-indicator ng-show="isLoading"></umb-load-indicator>

            <table class="table">
                <colgroup>
                    <col style="width:5%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:5%">
                </colgroup>
                <thead>
                    <tr>
                        <th><godmode-sortable sort-by="sortBy('N.id')" column="N.id" sort="sort">Id</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('D.Text')" column="D.Text" sort="sort">Name</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('CT.Alias')" column="CT.Alias" sort="sort">Alias</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('N.createDate')" column="N.createDate" sort="sort">Create Date</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('Creator.userName')" column="Creator.userName" sort="sort">Creator Name</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('D.updateDate')" column="D.updateDate" sort="sort">Update Date</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('Updater.userName')" column="Updater.userName" sort="sort">Updater Name</godmode-sortable></th>
                        <th><godmode-sortable sort-by="sortBy('N.Trashed')" column="N.Trashed" sort="sort">Recycled?</godmode-sortable></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in page.Items">
                        <td><a href="#/content/content/edit/{{c.Id}}" target="_blank" title="Edit">{{ c.Id }}</a></td>
                        <td>{{ c.Name }}</td>
                        <td><span class="{{c.Icon}}"></span> {{ c.Alias }}</td>
                        <td>{{ c.CreateDate | date:'short' }}</td>
                        <td>{{ c.CreatorName }}</td>
                        <td>{{ c.UpdateDate | date:'short' }}</td>
                        <td>{{ c.UpdaterName }}</td>
                        <td><godmode-True-False value="{{c.Trashed}}"></godmode-True-False></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8">
                            <div class="pagination pagination-centered" ng-show="page.TotalPages > 1">
                                <umb-pagination page-number="page.CurrentPage"
                                                total-pages="page.TotalPages"
                                                on-next="nextPage"
                                                on-prev="prevPage"
                                                on-go-to-page="setPage">
                                </umb-pagination>
                            </div>
                        </th>
                    </tr>
                    <tr ng-hide="page.Items.length > 0">
                        <td colspan="8">
                            <p class="text-center"><strong>No content was found for your selected criteria.</strong></p>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </umb-editor-container>

    </umb-editor-view>

</div>