<div ng-controller="GodMode.DiagnosticBrowser.Controller" class="god-mode">

        <umb-editor-view footer="false">

            <godmode-header heading="{{heading}}" title="She canna take any more, captain. She's gonna blow!"></godmode-header>

            <umb-editor-container>

                <div id="collapse_selects" class="accordion-body collapse in">
                    <div class="well">
                        <div class="row">

                            <div class="span4">
                                <label class="control-label" for="search-id">Search Names:</label>
                                <br />
                                <div class="input-append">
                                    <input type="search" id="search-id" ng-model="search.name" placeholder="Filter by name" class="input-large">
                                    <span class="add-on" ng-show="search.name.length > 0"><i class="icon icon-delete" ng-click="search.name = ''"></i></span>
                                </div>
                            </div>

                            <div class="span4">
                                <label class="control-label" for="search-name">Search Values:</label>
                                <br />
                                <div class="input-append">
                                    <input type="search" id="search-name" ng-model="search.value" placeholder="Filter by value" class="input-large">
                                    <span class="add-on" ng-show="search.value.length > 0"><i class="icon icon-delete" ng-click="search.value = ''"></i></span>
                                </div>
                            </div>
                            <div class="span4">
                                <label class="control-label" for="search-section">Configuration Group:</label>
                                <br />
                                <select id="search-section" ng-model="search.group" ng-options="item.Title for item in groups" class="input-large" ng-change="selectGroup(search.group)">
                                    <option value="">Select</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <umb-load-indicator ng-show="isLoading"></umb-load-indicator>

                <h4 class="text-center">{{ group.Title }}</h4>

                <div ng-repeat="section in group.Sections" id="section{{$index}}">

                    <table class="table" ng-show="(section.Diagnostics | filter: filterValues).length > 0">
                        <caption><h5>{{ section.Heading }}</h5></caption>
                        <thead ng-show="section.Diagnostics.length > 0">
                            <tr>
                                <th class="tkey">Key</th>
                                <th class="tval">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in section.Diagnostics | filter: filterValues">
                                <td>{{ item.Key }}</td>
                                <td>{{ item.Value }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </umb-editor-container>

        </umb-editor-view>

</div>