<div ng-controller="GodMode.UtilityBrowser.Controller" class="god-mode">

    <umb-editor-view footer="false">

        <godmode-header heading="Utilities"></godmode-header>

        <umb-editor-container>

            <div class="row">

                <h3><i class="icon-war"></i> Cache Clearer</h3>
                <p>Here you can clear the various internal <a href="https://our.umbraco.org/documentation/reference/cache/updating-cache" target="_blank" title="Read more about caches">Umbraco caches</a>. </p>

                <div class="span4">
                    <button class="btn btn-warning" title="Clears the Umbraco request cache" ng-click="clearCache('Request')"><i class="icon-delete-key"></i> Clear Request Cache</button>
                </div>

                <div class="span4">
                    <button class="btn btn-warning" title="Clears the Umbraco runtime cache" ng-click="clearCache('Runtime')"><i class="icon-delete-key"></i> Clear Runtime Cache</button>
                </div>

                <div class="span4">
                    <button class="btn btn-warning" title="Clears the Umbraco isolated runtime cache" ng-click="clearCache('Isolated')"><i class="icon-delete-key"></i> Clear Isolated Cache</button>
                </div>

            </div>

            <br />
            <div class="row">

                <div class="span4">
                    <button class="btn btn-warning" title="Clears the Umbraco static cache" ng-click="clearCache('Static')"><i class="icon-delete-key"></i> Clear Static Cache</button>
                </div>

                <div class="span4">
                    <button class="btn btn-warning" title="Clears the Umbraco partial view cache" ng-click="clearCache('Partial')"><i class="icon-delete-key"></i> Clear Partial Cache</button>
                </div>

                <div class="span4">
                    <button class="btn btn-danger" title="Clears all Umbraco caches" ng-click="clearCache('all')"><i class="icon-delete-key"></i> Clear All Caches</button>
                </div>

            </div>

            <div class="row">
                <h3><i class="icon-application-window-alt"></i> Application</h3>

                <p>Here you wield immense power...</p>

                <div class="span4">
                    <button class="btn btn-danger" title="Restarts the IIS application pool (which will take the site offline momentarily)" ng-click="restartAppPool()"><i class="icon-scull"></i> Restart Application Pool</button>
                </div>

                <div class="span4">
                    <button class="btn btn-primary" title="Hits a single URL for every template in the site to 'warm-up' compilation of views" ng-click="warmUpTemplates()"><i class="icon-server"></i> Warm-Up Templates</button>

                    <p ng-show="warmup.current < warmup.count">


                        <umb-load-indicator ng-show="warmup.current < warmup.count"></umb-load-indicator>

                        <br />
                        Warming up template {{ warmup.current }} of {{ warmup.count }} - pinging URL: <a href="{{warmup.url}}" target="_blank">{{warmup.url}}</a>
                    </p>

                </div>

            </div>

            <br />


        </umb-editor-container>

    </umb-editor-view>

</div>