<div ng-controller="GodMode.TemplateBrowser.Controller as vm" class="god-mode">

    <umb-editor-view footer="false">

        <godmode-header heading="Template Browser" title="I'm a blueprint for a view, I am!" on-reload="vm.init()"></godmode-header>

        <umb-editor-container>

            <umb-box>
                <umb-box-content>
                    <div class="row">
                        <div class="span4">
                            <label class="control-label">Search:</label>
                            <br />
                            <input type="search" ng-model="vm.search.template" placeholder="Filter template names" class="input-large">
                        </div>

                        <div class="span4">
                            <label class="control-label">Uses Master:</label>
                            <br />
                            <select ng-model="vm.search.master" ng-options="item.Name for item in vm.masters" class="input-large">
                                <option value="">Any</option>
                            </select>
                        </div>

                        <div class="span4">
                            <label class="control-label">Uses Partial:</label>
                            <br />
                            <select ng-model="vm.search.partial" ng-options="item.Name for item in vm.partials | godModeUnique: 'Name' | orderBy: 'Name'" class="input-large">
                                <option value="">Any</option>
                            </select>
                        </div>
                    </div>
                </umb-box-content>
            </umb-box>

            <umb-load-indicator ng-show="vm.isLoading"></umb-load-indicator>

            <div ng-repeat="temp in vm.templates | filter: vm.filterTemplates as results">

                <umb-box>
                    <div class="umb-box-header box-opener flex">
                        <div class="span12" ng-click="temp.IsOpen = !temp.IsOpen">
                            <h4><strong>{{ temp.Name }}</strong> <small>({{ temp.Alias }})</small> <i ng-if="temp.IsMaster" class="icon icon-key color-amber" title="Master" aria-label="Master template"></i></h4>
                        </div>
                        <div class="">
                            <button type="button" ng-click="vm.openTemplate(temp.Id)" title="Edit Template" class="btn btn-action">Edit</button>
                        </div>
                    </div>

                    <umb-box-content ng-if="temp.IsOpen">

                        <div class="row">
                            <div class="span8">
                                <strong>{{ temp.Name }}</strong> <small class="muted">{{ temp.VirtualPath }}</small>
                            </div>
                            <div class="span4 text-right">
                                <span class="label">{{temp.Id}}</span> <code>{{temp.Udi}}</code>
                            </div>
                        </div>

                        <table class="table" ng-show="temp.Parents">
                            <caption><h5>Inheritance</h5></caption>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Path</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="t in temp.Parents">
                                    <td width="50%"><button type="button" ng-click="vm.openTemplate(t.Id)" title="Edit Template">{{ t.Name }}</button></td>
                                    <td width="50%">{{ t.FilePath }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table" ng-show="temp.Partials" ng-if="temp.Partials.length > 0">
                            <caption><h5>Partials</h5></caption>
                            <thead>
                                <tr>
                                    <th width="50%">Partial Name</th>
                                    <th width="50%">Cached?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in temp.Partials">
                                    <td><button type="button" ng-click="vm.openPartial(p.Path)" title="Edit Partial">{{ p.Name }}</button></td>
                                    <td><godmode-True-False value="p.IsCached"></godmode-True-False></td>
                                </tr>
                            </tbody>
                        </table>

                    </umb-box-content>

                </umb-box>

            </div>

            <p ng-if="results.length === 0" class="alert alert-info alert-block">Sorry, there are no templates that match your chosen search criteria. Try changing the filters at the top of the page.</p>

        </umb-editor-container>

    </umb-editor-view>

</div>