<div ng-controller="GodMode.ContentBrowser.Controller as vm" class="god-mode">

    <umb-editor-view footer="model.infiniteMode">

        <godmode-header heading="Content Browser" title="Because content is king" on-reload="vm.fetchContent(vm.sort.column)"></godmode-header>

        <umb-editor-container>

            <umb-box>
                <umb-box-content>
                    <div class="row">

                        <div class="span2">
                            <label class="control-label" for="search-id" title="The node Id or UDI">Node Id:</label>
                            <br />
                            <input type="search" id="search-id" ng-model="vm.criteria.Id" placeholder="Id or UDI" class="input-medium" ng-change="vm.filterChange()">
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-name" title="The primary node name">Name:</label>
                            <br />
                            <input type="search" id="search-name" ng-model="vm.criteria.Name" placeholder="Search node names" class="input-medium" ng-change="vm.filterChange()">
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-alias" title="The document type alias">Content Alias:</label>
                            <br />
                            <select id="search-alias" ng-model="vm.criteria.Alias" ng-options="item for item in vm.contentTypeAliases" class="input-medium" ng-change="vm.filterChange()">
                                <option value="">Any</option>
                            </select>
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-lang" title="The document type alias">Language:</label>
                            <br />
                            <select id="search-lang" ng-model="vm.criteria.LanguageId" ng-options="item.Name for item in vm.languages" class="input-medium" ng-change="vm.filterChange()">
                                <option value="">Any</option>
                            </select>
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-level" title="The level in the tree">Tree Level:</label>
                            <br />
                            <input type="number" min="1" id="search-level" ng-model="vm.criteria.Level" placeholder="Level" class="input-small" ng-change="vm.filterChange()">
                        </div>

                        <div class="span2">
                            <label class="control-label" for="search-recycled" title="Whether the node is in the bin">Recycled?</label>
                            <br />
                            <select id="search-recycled" ng-model="vm.criteria.Trashed" ng-options="opt.label for opt in vm.triStateOptions" class="input-small" ng-change="vm.filterChange()"></select>
                        </div>

                    </div>
                </umb-box-content>
            </umb-box>

            <umb-load-indicator ng-show="vm.isLoading"></umb-load-indicator>

            <p class="gm-results" ng-show="vm.page.Items"><strong>{{vm.page.Items.length}}</strong> / <strong>{{vm.page.TotalItems}}</strong></p>

            <table class="table table-hover">
                <colgroup>
                    <col style="width:23%">
                    <col style="width:12%">
                    <col style="width:12%">
                    <col style="width:8%">
                    <col style="width:12%">
                    <col style="width:8%">
                    <col style="width:8%">
                    <col style="width:5%">
                    <col style="width:12%">
                </colgroup>
                <thead>
                    <tr>
                        <th><godmode-sortable sort-by="vm.sortBy('N.Text')" column="N.Text" sort="vm.sort">Name</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('CT.Alias')" column="CT.Alias" sort="vm.sort">Alias</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('N.createDate')" column="N.createDate" sort="vm.sort">Create Date</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('Creator.userName')" column="Creator.userName" sort="vm.sort">Creator</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('V.versionDate')" column="V.versionDate" sort="vm.sort">Update Date</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('Updater.userName')" column="Updater.userName" sort="vm.sort">Updater</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('Lang.id')" column="Lang.id" sort="vm.sort">Culture</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('N.Trashed')" column="N.Trashed" sort="vm.sort">Recycled?</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('N.id')" column="N.id" sort="vm.sort">Id</godmode-sortable></th>
                        <th ng-show="vm.nuCacheViewer">Cache</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in vm.page.Items">
                        <td><button type="button" ng-click="vm.openContent(c.Id)" title="Edit"><strong>{{ c.Name }}</strong></button></td>
                        <td><span class="{{c.Icon}}"></span>&nbsp;{{ c.Alias }}</td>
                        <td>{{ c.CreateDate | date:'short' : 'UTC' }}</td>
                        <td>{{ c.CreatorName }}</td>
                        <td>{{ c.UpdateDate | date:'short' : 'UTC' }}</td>
                        <td>{{ c.UpdaterName }}</td>
                        <td>{{ c.Culture }}</td>
                        <td><godmode-True-False value="c.Trashed"></godmode-True-False></td>
                        <td><div><strong>{{ c.Id }}</strong> <small class="muted">({{c.Path}})</small></div><code>{{ c.Udi }}</code></td>
                        <td ng-show="vm.nuCacheViewer"><button type="button" ng-click="vm.openNuCacheViewer(c.Id)" title="View nuCache entry"><strong>Cache</strong></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="9">
                            <div class="pagination pagination-centered" ng-show="vm.page.TotalPages > 1">
                                <umb-pagination page-number="vm.page.CurrentPage"
                                                total-pages="vm.page.TotalPages"
                                                on-next="vm.nextPage"
                                                on-prev="vm.prevPage"
                                                on-go-to-page="vm.setPage">
                                </umb-pagination>
                            </div>
                        </th>
                    </tr>
                    <tr ng-hide="vm.isLoading || vm.page.Items.length > 0">
                        <td colspan="9">
                            <p class="text-center">
                                <strong>Sorry, no content was found for your selected criteria.</strong><br /><br />
                                <span ng-show="vm.criteria.LanguageId.Id > 0"><strong>Note:</strong> When only one language is configured for the site then Umbraco doesn't set the culture so filtering by that one language won't work.</span>
                            </p>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </umb-editor-container>

        <umb-editor-footer ng-if="model.infiniteMode">

            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="model.close()">
                </umb-button>
            </umb-editor-footer-content-right>

        </umb-editor-footer>
    </umb-editor-view>

</div>