<div ng-controller="GodMode.MediaBrowser.Controller as vm" class="god-mode">

    <umb-editor-view footer="false">

        <godmode-header heading="Media Browser" title="Why can't clients organise their files?" on-reload="vm.fetchContent()"></godmode-header>

        <umb-editor-container>

            <umb-box>
                <umb-box-content>

                    <div class="row">
                        <div class="span4">
                            <label class="control-label" for="search-id">Media Id:</label>
                            <br />
                            <input type="search" id="search-id" ng-model="vm.criteria.id" placeholder="Search Id" class="input-small" ng-change="vm.filterChange()">
                        </div>

                        <div class="span4">
                            <label class="control-label" for="search-name">Search:</label>
                            <br />
                            <input type="search" id="search-name" ng-model="vm.criteria.name" placeholder="Filter media names" class="input-large" ng-change="vm.filterChange()">
                        </div>

                        <div class="span4">
                            <label class="control-label" for="search-mediaType">Media Type:</label>
                            <br />
                            <select ng-model="vm.criteria.mediaType" id="search-mediaType" ng-options="item.Alias for item in vm.mediaTypes" class="input-medium" ng-change="vm.filterChange()">
                                <option value="">Any</option>
                            </select>
                        </div>
                    </div>

                </umb-box-content>
            </umb-box>

            <umb-load-indicator ng-show="vm.isLoading"></umb-load-indicator>

            <p class="gm-results" ng-show="vm.page.Items"><strong>{{vm.page.Items.length}}</strong> / <strong>{{vm.page.TotalItems}}</strong></p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><godmode-sortable sort-by="vm.sortBy('Name')" column="Name" sort="vm.sort">Name</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('ContentTypeAlias')" column="Alias" sort="vm.sort">Media</godmode-sortable></th>
                        <th>Type</th>
                        <th>Size</th>
                        <th><godmode-sortable sort-by="vm.sortBy('UpdateDate')" column="UpdateDate" sort="vm.sort">Update Date</godmode-sortable></th>
                        <th><godmode-sortable sort-by="vm.sortBy('Id')" column="Id" sort="vm.sort">Id</godmode-sortable></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in vm.page.Items">
                        <td>
                            <button ng-if="m.Alias != 'Folder'" type="button" ng-click="vm.openMedia(m.Id)" title="Edit"><strong>{{ m.Name }}</strong></button>
                            <strong ng-if="m.Alias === 'Folder'">{{m.Name}}</strong>
                        </td>
                        <td>{{ m.Alias }}</td>
                        <td title="{{ m.Ext }}">{{ m.Type }}</td>
                        <td>{{ m.Size | godModeFileSize }}</td>
                        <td><small>{{ m.UpdateDate | limitTo:22 }}</small></td>
                        <td><div><strong>{{ m.Id }}</strong> <small class="muted">({{m.Path}})</small></div> <code>{{m.Udi}}</code></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8">
                            <div class="pagination pagination-centered" ng-show="vm.page.TotalPages > 0">
                                <umb-pagination page-number="vm.page.CurrentPage"
                                                total-pages="vm.page.TotalPages"
                                                on-next="vm.nextPage"
                                                on-prev="vm.prevPage"
                                                on-go-to-page="vm.setPage">
                                </umb-pagination>
                            </div>
                        </th>
                    </tr>
                    <tr ng-hide="vm.isLoading || vm.page.Items.length > 0">
                        <td colspan="8">
                            <p class="text-center"><strong>Sorry, no content was found for your selected criteria.</strong></p>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </umb-editor-container>

    </umb-editor-view>

</div>